<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipe App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Recipe
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/recipes/createRecipe}">Create Recipe</a></li>
                        <li><a class="dropdown-item" th:href="@{/recipes/view_recipe}">View Recipe</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Meal Planner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/plan_meals/createPlan}">Plan A Meal</a></li>
                        <li><a class="dropdown-item" th:href="@{/plan_meals/planned_meals}">View Planned Meal</a></li>
                    </ul>
                </li>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search for a recipe" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
            <form th:action="@{/users/logout}">
                <input  class="btn btn-outline-danger" type="submit" value="Log Out">
            </form>
        </div>
    </div>
</nav>
    <div class="container container-fluid">
      <h2 class="padding-top1">Creating Recipe</h2>
      <div class="width60">
        <form class="row g-3" action="#" th:action="@{/recipes/recipe_created}" th:object="${recipe}" method="post" >
          <div class="col-md-5">
            <label class="form-label">Recipe Name</label>
            <input  type="text" th:field="*{name}" class="form-control">
          </div>
          <div class="col-md-2">
            <label  class="form-label">Cook Time</label>
            <input type="text" th:field="*{time}" th:text="${time}" class="form-control">
          </div>
          <div class="col-12">
            <label class="form-label">Description</label>
            <input type="text" th:field="*{description}" class="form-control">
          </div><div class="col-12">
            <label class="form-label">Equipments</label>
            <input type="text" th:field="*{equipments}" class="form-control">
          </div>
          <div class="col-12">
            <label class="form-label">Ingredients</label>
            <input type="text" th:field="*{ingredients}" class="form-control">
          </div>
          <div class="col-12 form-group">
            <label class="form-label">Instructions</label>
              <textarea th:field="*{instruction}" class="form-control" rows="3"></textarea>
          </div>
            <div class="col-12 form-group">
                <label class="form-label">Type:</label>
                <input type="text" th:field="*{type}" class="form-control" >
            </div>
            <div class="col-12 form-group">
                <label class="form-label">Date Created</label>
                <label th:field="*{dateCreated}" class="form-control" rows="3" th:text="${localDate}"></label>
            </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Create Recipe</button>
          </div>
        </form>

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>