<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
</head>
<body>

    <h1>Recipes</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
<!--                <th>User</th>-->
                <th>Equipments</th>
                <th>Ingredients</th>
                <th>Description</th>
                <th>Instruction</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.name}"></td>
<!--                <td th:text="${recipe.user}"></td>-->
                <td th:text="${recipe.equipments}"></td>
                <td th:text="${recipe.ingredients}"></td>
                <td th:text="${recipe.description}"></td>
                <td th:text="${recipe.instruction}"></td>
                <td th:text="${recipe.time}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>