<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1 th:text="'Plan Meals'">PlanMeal List</h1>
    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Recipe ID</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="planMeal : ${planMeals}">
            <td th:text="${planMeal.userID}"></td>
            <td th:text="${planMeal.recipeID}"></td>
            <td th:text="${planMeal.date}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>